/* Default (Light Mode) */
:root {
  --page-bg: #ffadce;
  --text-color: #ca0091;
  --card-bg: #ffffff;
  --nav-bg: #f6f8fa;
}

/* Dark Mode Variables */
.dark-mode {
  --page-bg: #1b1b1b;
  --text-color: #f1f1f1;
  --card-bg: #2b2b2b;
  --nav-bg: #2d2d2d;
}

/* Apply Colors */
body {
  background: var(--page-bg) !important;
  color: var(--text-color) !important;
}

/* Nav */
.site-nav {
  background: var(--nav-bg) !important;
}

/* Cards */
.card {
  background: var(--card-bg) !important;
  border: 1px solid #444;
}

.theme-toggle-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #ff4fa3;
  color: white;
  padding: 8px 12px !important;
  border-radius: 30px !important;
  font-size: 15px !important;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  border: none !important;

  width: auto !important;
  height: auto !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

